html {
  --background: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;
}

html.dark {
  --background: black;
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0 0.5rem;
  color: var(--grey-600);
  background: var(--background);
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
}

main {
  max-width: 40rem;
  margin: auto;
}

p,
li {
  font-size: 1rem;
  color: var(--gray-400);
  opacity: 0.8;
}

li {
  margin: 1rem 0;
}
